@keyframes marquee {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* End at the left */
    }
  }
  
  .scroll-container {
    display: flex; /* Align children in a row */
    align-items: center; /* Vertically center the text */
    width: 100%; /* Ensure the container takes the full width */
    height: 60px; /* Set the height of the scrolling container */
    overflow: hidden; /* Hide anything that overflows the container */
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite; /* 20s duration, infinite loop */
  }
  
  /* For the dropdown */
group-hover:block {
    max-height: 300px; /* adjust based on design */
    overflow-y: auto;
  }

  /* Hide the close button in the InfoWindow */
.gm-style-iw button {
  display: none !important;
}


.circular-scroll {
  animation: scroll 10s linear infinite;
  display: flex;
  flex-direction: column;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.bg-teal-dark {
  background-color: #00796b; /* Darker shade of teal for hover effect */
}
